ObjectSripterWinSvc/Framework.Data.Core/obj/Debug/Framework.Data.Core.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Data.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Data.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Data.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Debug/Framework.Data.Oracle.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Data.Sql/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Data.Sql/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Data.Sql/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.IO/obj/Debug/Framework.IO.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.IO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.IO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.IO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/ObjectSripterWinCA/bin/Debug/ObjectSripterWinCA.exe.config
ObjectSripterWinSvc/ObjectSripterWinCA/bin/Debug/ObjectSripterWinCA.vshost.exe.config
ObjectSripterWinSvc/ObjectSripterWinCA/bin/Debug/ObjectSripterWinCA.vshost.exe.manifest
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Debug/ObjectSripterWinCA.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/ObjectSripterWinSvc/bin/Debug/ObjectSripterWinSvc.vshost.exe.config
ObjectSripterWinSvc/ObjectSripterWinSvc/bin/Debug/ObjectSripterWinSvc.vshost.exe.manifest
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Common/obj/Debug/Framework.Common.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Common/obj/Release/Framework.Common.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Common/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Common/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Common/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Configuration/obj/Debug/Framework.Configuration.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Configuration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Configuration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Configuration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Configuration/obj/Release/Framework.Configuration.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Configuration/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Configuration/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Configuration/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Data.Core/obj/Release/Framework.Data.Core.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Data.Core/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Data.Core/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Data.Core/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Release/Framework.Data.Oracle.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.Data.Oracle/obj/Release/build.force
ObjectSripterWinSvc/Framework.Data.Sql/obj/Release/Framework.Data.Sql.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.Data.Sql/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.Data.Sql/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.Data.Sql/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/Framework.IO/obj/Release/Framework.IO.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/Framework.IO/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/Framework.IO/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/Framework.IO/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/ObjectSripterWinCA/bin/Release/ObjectSripterWinCA.exe.config
ObjectSripterWinSvc/ObjectSripterWinCA/bin/Release/ObjectSripterWinCA.vshost.exe.config
ObjectSripterWinSvc/ObjectSripterWinCA/bin/Release/ObjectSripterWinCA.vshost.exe.manifest
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Release/ObjectSripterWinCA.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ObjectSripterWinSvc/ObjectSripterWinCA/obj/Release/build.force
ObjectSripterWinSvc/ObjectSripterWinSvc/bin/Debug/ObjectSripterWinSvc.exe.config
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Debug/ObjectSripterWinSvc.csproj.FileListAbsolute.txt
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ObjectSripterWinSvc/ObjectSripterWinSvc/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
