<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Oracle için bağlantı metni. -->
    <add key="ConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User Id=Uid;Password=HR_PWD_1;"/>
        
    <add key="ConnStrFormat" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=#HOST_ADRESS#)(PORT=#HOST_PORT#)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=#SID#)));User Id=#UID#;Password=#PWD#;"/>

    <add key="ConnStrFormatKeys" value="HOST_ADRESS,HOST_PORT,SID,UID,PWD"/>
    <add key="HOST_ADRESS" value="127.0.0.1"/>
    <add key="HOST_PORT" value="1521"/>
    <add key="SID" value="XE"/>
    <add key="UID" value="HR"/>
    <add key="PWD" value="HR_PWD_1"/>

    <!-- Metadata Scripti alınacak nesneler listesi. Nesneler arasında vrigül olması gerekir. -->
    <add key="Types" value="TABLE,PROCEDURE,FUNCTION,TRIGGER,PACKAGE,SEQUENCE,VIEW,INDEX,TYPE"/>

    <!-- Kaydetmek için dosya yolu. -->
    <add key="SaveFolder" value="D:/Save"/>

    <!-- Şimdilik kullanılmıyor. -->
    <add key="DateFormat" value="yyyy_MM_dd_HH_mm_ss_FFF"/>

    <!-- Scripti console a yazdırmak için WriteScriptToConsole key değerinin 1 yapılması yeterlidir. -->
    <add key="WriteScriptToConsole" value="0"/>

  </appSettings>
</configuration>