<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Oracle için bağlantı metni. -->
    <add key="ConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=HOST_ADDRESS)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SID)));User Id=Uid;Password=Pwd;"/>
    
    <!-- Metadata Scripti alınacak nesneler listesi. Nesneler arasında vrigül olması gerekir. -->
    <add key="Types" value="PROCEDURE,FUNCTION,TRIGGER,TABLE,PACKAGE,SEQUENCE,VIEW,INDEX"/>

    <!-- Kaydetmek için dosya yolu. -->
    <add key="SaveFolder" value="/Save"/>

    <!-- Şimdilik kullanılmıyor. -->
    <add key="DateFormat" value="yyyy_MM_dd_HH_mm_ss_FFF"/>

    <!-- Scripti console a yazdırmak için WriteScriptToConsole key değerinin 1 yapılması yeterlidir. -->
    <add key="WriteScriptToConsole" value="0"/>

  </appSettings>
</configuration>